# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/excludeFromValidation.xml
.idea/libraries/RSBot.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
*.class
RSBot.iml
src/com/sosweaty/scripts/rt6/sweatyfisher/tasks/DropFish.java
src/com/sosweaty/scripts/rt6/sweatyfisher/tasks/StartFishing.java
src/com/sosweaty/scripts/rt6/sweatyfisher/SweatyFisher.java
src/com/sosweaty/scripts/rt6/sweatyfisher/gui/Gui.java
src/com/sosweaty/scripts/rt6/sweatyfisher/constants/Fish.java
src/com/sosweaty/scripts/rt6/framework/ThreadedScript.java